@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');

/* font sizes*/
$fontsize-smaller:0.8rem;
$fontsize-small:0.9rem;
$fontsize-regular:1rem;
$fontsize-large:2rem;

/* font families*/
$font-spartan: 'Spartan', sans-serif;

$fontweight-normal:500;
$fontweight-medium:600;
$fontweight-bold:700;